html {
  margin-top: 0!important;
}
* {
  font-family: 'K2D', sans-serif;
}
body {
  background-color: #ececec;
}
.login-page-div {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.login-main-div {
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logo {
  height: 28vh;
}
.login-div {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrong-credentials {
  font-size: 22px;
}
.input-field , .login-button {
  border-radius: 5px;
  color: black!important;
}
.login-button-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.login-button {
  width: 30%;
}
.navbar-height {
  height: 15vh;
}
.navbar-width {
  width: 8%;
}
img{
  width: 100%;
  height: 10vh;
}
.navbar-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.allorders-title-div , .allorders-title , .allorders , .single-order-products-title-div , .single-order-products-title , .single-order-products  {
  display: flex;
  justify-content: center;
}
.orderId-div {
  text-align: center;
}
.single-order-products-title , .allorders-title {
  border-bottom: 1px solid black;
}
.order-model {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
}
.table-row-order {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.single-order-main-div {
  display: flex;
  flex-direction: column;
}
.single-order-name-and-shipping-div {
  display: flex;
  justify-content: space-around;
  height: 25vh;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
